#jobs {
  display: grid;
  grid-template-columns: repeat(3, 330px);
  grid-template-rows: repeat(2, 280px);
  gap: 24px;

  .card {
    padding: 12px;
    background: var(--base-color-gray-300);
    border-radius: 12px;
    cursor: pointer;
    
    img {
      border-radius: 8px;
      margin-bottom: 20px;
    }
    
    h3 {
      margin-bottom: 8px;
    }
  }

  .card:hover {
    outline: 1px solid var(--base-color-gray-400);
  }
}
